/*Formatações padrão */
*{
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family:"Trebuchet MS", Helvetica, sans-serif;	
}
/**/
.corpo {
	background: #fbfbf5;
}

.logo {
	border: 5px  #a0d5d3 solid;
}