/*Formatações padrão */
*{
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family:"Trebuchet MS", Helvetica, sans-serif; 
	background: #F8F8FF;
}
/**/
.corpo {
	background-image: url("/img/fundo.png");
  	background-color: #cccccc;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	position: relative;
}

.logo {
	border: 5px  #a0d5d3 solid;
}
.col-4 {
	list-style: none;
	text-align: center;
}
<<<<<<< HEAD
.dep {
	text-align: center;
}
.col-sm {
	text-align: center;
}
.menu {
	position: absolute;
	right: 0px;
	bottom: 0px;
=======
/**/
/*NAVEGACAO*/
nav {
	position: absolute;
	right: 20px;
	bottom: -20px;
}

nav li{
	list-style: none;
	width: 700px;
	display: inline;
	background: url(../img/Navegação/aba-direita.png) no-repeat top right;				
	font-size: 16px;
}

nav a{
	background: url(../img/Navegação/aba-esquerda.png) no-repeat top left;	
	color: #fff;
>>>>>>> parent of f19fbb2... Add files via upload
}
.menu .link {
	text-decoration: none;
<<<<<<< HEAD
	color: black;	
}
.dest {
	text-align: center;
}
#rodape {
	margin-top: 20px;
}
.banner {
	width: 80%;
}
=======
}
>>>>>>> parent of f19fbb2... Add files via upload
